body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}

#createPostForm {
    max-width: 400px;
    margin-bottom: 20px;
}

#blogPosts {
    max-width: 600px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button.wallet-connect-button {
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 18px;
}

button.wallet-connect-button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#walletConnectButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
